<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>dang_nhap_icon.png</string>
		<key>key</key>
		<string>menu_tai_khoan</string>
		<key>title</key>
		<string>Tài khoản</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>dang_nhap_icon.png</string>
		<key>key</key>
		<string>menu_dang_nhap</string>
		<key>title</key>
		<string>Đăng nhập</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>dang_nhap_icon.png</string>
		<key>key</key>
		<string>menu_dang_ki</string>
		<key>title</key>
		<string>Đăng kí</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>chia_se.png</string>
		<key>key</key>
		<string>menu_chia_se</string>
		<key>title</key>
		<string>Chia sẻ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cai_dat.png</string>
		<key>key</key>
		<string>menu_cai_dat</string>
		<key>title</key>
		<string>Cài đặt</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>hom_thu_xanh.png</string>
		<key>key</key>
		<string>menu_hop_thu</string>
		<key>title</key>
		<string>Hộp thư</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>thong_tin_icon.png</string>
		<key>key</key>
		<string>menu_thong_tin</string>
		<key>title</key>
		<string>Thông tin</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>huong_dan_icon.png</string>
		<key>key</key>
		<string>menu_huong_dan</string>
		<key>title</key>
		<string>Hướng dẫn</string>
	</dict>
</array>
</plist>
